<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.inquiry.mapper.InquiryMapper">
   <!-- <select id="queryByPartCodes" resultType ="com.zr.inquiry.model.InquiryParts">
        SELECT * FROM
        parts WHERE code IN
        <foreach item="item" index="index" collection="set" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>-->


    <select id="queryP2SByPartIds" resultType ="com.zr.inquiry1.model.P2S">
        SELECT * FROM
        p2s WHERE partsId IN
        <foreach item="item" index="index" collection="set" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="insertInquiryTotal" parameterType="com.zr.inquiry1.model.InquiryTotal" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
        INSERT INTO inquirytotal (inquiryNo) VALUES (#{inquiryNo})
    </insert>

    <insert id="insertInquiryParts" parameterType="java.util.List" >
        INSERT INTO inquiryParts (patsId,inquiryId,unit,partsCode,partsName) VALUES
        <foreach collection="inquiryPartsVoList" item="parts" open="(" separator="),(" close=")">
            #{parts.patsId},#{parts.inquiryId},#{parts.unit},#{parts.partsCode},#{parts.partsName}
        </foreach>
    </insert>

    <insert id="insertInquirySupplier" parameterType="java.util.List" >
        INSERT INTO inquirySupplier (supplierId,inquiryId,supplierCode,supplierName) VALUES
        <foreach collection="inquirySupplierVoList" item="supplier" open="(" separator="),(" close=")">
            #{supplier.supplierId},#{supplier.inquiryId},#{supplier.supplierCode},#{supplier.supplierName}
        </foreach>
    </insert>

    <update id="updateInquiryTotal" parameterType="com.zr.inquiry.model.vo.InquiryStatusVo">
        UPDATE inquirytotal SET inquiryNo = #{inquiryNo} WHERE id = #{id}
    </update>

    <update id="updateStatus" parameterType="com.zr.inquiry1.model.InquiryTotal">
        UPDATE inquirytotal SET status = #{status},updateTime = #{updateTime},updateName = #{updateName},updateId = #{updateId},WHERE id = #{id}
    </update>

    <delete id="deletePartsByInquiryId" parameterType="java.lang.Integer">
        DELETE  FROM inquiryparts WHERE inquiryId = #{id}
    </delete>

    <delete id="deleteSupplierByInquiryId" parameterType="java.lang.Integer">
        DELETE  FROM inquirysupplier WHERE inquiryId = #{id}
    </delete>

    <select id="queryCount" parameterType="com.zr.inquiry.mode.vo.InquirySelectVo" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM inquiryTotal total LEFT JOIN inquirySupplier su ON total.id=su.inquiryId
        WHERE 1=1
        <if test="legalPersonId!=null and legalPersonId!=0">
            AND total.legalPersonId=#{legalPersonId}
        </if>
        <if test="inquiryNo!=null and inquiryNo!=''">
            AND total.inquiryNo=#{inquiryNo}
        </if>
        <if test="createStartTime!=null">
            <![CDATA[ and total.creatTime >= #{createStartTime}]]>
        </if>
        <if test="createEndTime!=null ">
            <![CDATA[ and total.creatTime <= #{createEndTime}]]>
        </if>
        <if test="startDate!=null">
            <![CDATA[ and total.startDate >= #{startDate}]]>
        </if>
        <if test="endDate!=null">
            <![CDATA[ and total.endDate <= #{endDate}]]>
        </if>
        <if test="supplierCode!=null and supplierCode!=''">
            AND su.supplierCode=#{supplierCode}
        </if>
        <if test="type!=null and type!=''">
            AND total.type=#{type}
        </if>
        <if test="status!=null">
        AND total.status=#{status}
    </if>
    </select>

    <select id="queryPage" parameterType="com.zr.inquiry.mode.vo.InquirySelectVo" resultType="com.zr.inquiry.model.InquiryTotal">
        SELECT * FROM inquiryTotal total
        <if test="supplierCode!=null and supplierCode!=''">
            LEFT JOIN inquirySupplier su ON total.id=su.inquiryId
        </if>
        <where>  <!-- 去重 -->
         <if test="supplierCode!=null and supplierCode!=''">
            AND su.supplierCode=#{supplierCode}
         </if>
        <if test="legalPersonId!=null and legalPersonId!=0">
            AND total.legalPersonId=#{legalPersonId}
        </if>
        <if test="inquiryNo!=null and inquiryNo!=''">
            AND total.inquiryNo=#{inquiryNo}
        </if>
        <if test="createStartTime!=null">
            <![CDATA[ and total.creatTime >= #{createStartTime}]]>
        </if>
        <if test="createEndTime!=null ">
            <![CDATA[ and total.creatTime <= #{createEndTime}]]>
        </if>
        <if test="startDate!=null">
            <![CDATA[ and total.startDate >= #{startDate}]]>
        </if>
        <if test="endDate!=null">
            <![CDATA[ and total.endDate <= #{endDate}]]>
        </if>
        <if test="type!=null and type!=''">
            AND total.type=#{type}
        </if>
        <if test="status!=null">
            AND total.status=#{status}
        </if>
         limit #{offset}，#{pageSize}
        </where>
    </select>

    <select id="queryInquiryById" parameterType="java.lang.Integer" resultType="com.zr.inquiry.mode.vo.InquiryTotalVo">
        SELECT * FROM inquirytotal WHERE id = #{id}
    </select>

    <select id="queryPartByInquiryId" parameterType="java.lang.Integer" resultType="com.zr.inquiry.model.vo.InquiryPartsVo">
        SELECT * FROM inquiryparts WHERE inquiryId= #{id}
    </select>

    <select id="querySupplierByInquiryId" parameterType="java.lang.Integer" resultType="com.zr.inquiry.model.vo.InquiryPartsSupplierVo">
        SELECT * FROM inquirysupplier WHERE inquiryId= #{id}
    </select>
    <select id="findPartBySupplierId" parameterType="java.lang.Integer" resultType="com.zr.inquiry.model.Parts">
        SELECT * FROM  p2s WHERE supplierId = #{supplierId}
    </select>

    <select id="findInquiryQuationPartPage" parameterType="com.zr.inquiry.model.vo.InquiryQuationSelectVo" resultType="com.zr.inquiry.model.vo.InquiryQuationPartsVo">
        SELECT p.unit,p.amount,p.moq,p.partsCode,p.partsName,t.inquiryNo,t.status
        FROM inquiryParts p
        LEFT JOIN inquiryTotal t ON p.inquiryId = t.id
        LEFT JOIN inquirysupplier s ON s.inquiryId = t.id
        WHERE t.status = 40
        AND s.supplierId = #{supplierId}<!-- 通过供应商id找到头信息，备件信息-->
        AND p.partsId IN <!-- InquiryQuationSelectVo中属性partIdList是list集合 ，进行遍历-->
        <foreach collection="partIdList" item="partIdList" open="(" separator="," close=")">
            #{partId}
        </foreach>
        <if test="inquiryNo!=null  and inquiryNo!=''">
            AND  t.inquiryNo=#{inquiryNo}<!-- 数据库t与前端inquiryNo进行比较-->
        </if>
        <if test="partCode!=null  and partCode!=''">
            AND  t.partCode=#{partCode}
        </if>
        limit #{offset}，#{pageSize}
    </select>

    <select id="findInquiryQuationPartPageCount" parameterType="com.zr.inquiry.model.vo.InquiryQuationSelectVo" resultType="com.zr.inquiry.model.vo.InquiryQuationPartsVo">
        SELECT COUNT(*)
        FROM inquiryParts p
        LEFT JOIN inquiryTotal t ON p.inquiryId = t.id
        LEFT JOIN inquirysupplier s ON s.inquiryId = t.id
        WHERE t.status = 40
        AND s.supplierId = #{supplierId}<!-- 通过供应商id找到头信息，备件信息-->
        AND p.partsId IN <!-- InquiryQuationSelectVo中属性partIdList是list集合 ，进行遍历-->
        <foreach collection="partIdList" item="partIdList" open="(" separator="," close=")">
            #{partId}
        </foreach>
        <if test="inquiryNo!=null  and inquiryNo!=''">
            AND  t.inquiryNo=#{inquiryNo}<!-- 数据库t与前端inquiryNo进行比较-->
        </if>
        <if test="partCode!=null  and partCode!=''">
            AND  t.partCode=#{partCode}
        </if>
    </select>

  <!--  <select id="findInquiryQuationPartPage" parameterType="com.zr.inquiry.model.vo.InquiryQuationSelectVo" resultType="com.zr.inquiry.model.vo.InquiryQuationPartsVo">
        SELECT p.unit,p.amount,p.moq,p.partsCode,p.partsName,t.inquiryNo,t.status
        FROM inquiryParts p
        LEFT JOIN inquiryTotal t ON p.inquiryId = t.id
        LEFT JOIN inquirysupplier s ON s.inquiryId = t.id
        WHERE t.status = 40
        AND s.supplierId = #{supplierId}    &lt;!&ndash; 通过供应商id找到头信息，备件信息
        !也可用一条sql 查出供应商对应头信息里匹配的备件信息&ndash;&gt;
        AND p.partsId IN （select partsId from p2s where supplierId = = #{supplierId )&lt;!&ndash; InquiryQuationSelectVo中属性partIdList是list集合 ，进行遍历&ndash;&gt;

        <if test="inquiryNo!=null  and inquiryNo!=''">
            AND  t.inquiryNo=#{inquiryNo}&lt;!&ndash; 数据库t与前端inquiryNo进行比较&ndash;&gt;
        </if>
        <if test="partCode!=null  and partCode!=''">
            AND  t.partCode=#{partCode}
        </if>
        limit #{offset}，#{pageSize}
    </select>-->




   <!-- <select id="findByPlantCode" parameterType="java.lang.String" resultType ="com.example.demo.plant.model.Plant">
        select *
        from plant WHERE plantCode = #{plantCode}
    </select>

    <select id="findByPlantId" parameterType="java.lang.Integer" resultType ="com.example.demo.plant.model.Plant">
        select *
        from plant WHERE id = #{id}
    </select>

    <insert id="savePlant" parameterType="com.example.demo.plant.model.Plant" >
        INSERT INTO  plant (plantCode,plantDesc,plantStatus,legalPersonId,createTime,createName,createId,updateTime,updateName,updateId)
        VALUES (#{plantCode},#{plantDesc},#{plantStatus},#{legalPersonId},#{createTime},#{createName},#{createId},#{updateTime},#{updateName},#{updateId})
    </insert>

    <update id="updatePlant" parameterType="com.example.demo.plant.model.Plant">
        UPDATE plant SET
         plantDesc=#{plantDesc},
         plantStatus = #{plantStatus},
         updateTime=#{updateTime},
         updateName=#{updateName},
         updateId=#{updateId},
         version=version+1
        WHERE id = #{id} AND version = #{version}
    </update>

    <update id="updatePlantCode" parameterType="java.lang.String">
        UPDATE plant SET plantCode=#{plantCode}
        WHERE id = 2
    </update>

    <select id="queryPlantById" parameterType="java.lang.Integer" resultType="com.example.demo.plant.model.Plant">
       SELECT p.version,p.id,p.plantCode,p.plantDesc,p.plantStatus,p.legalPersonId,l.LegalPersonName,l.legalPersonCode from plant p LEFT JOIN legalperson l ON p.legalPersonId = l.id
        WHERE p.id =#{id}

    </select>

    <select id="queryCount" parameterType="com.example.demo.plant.model.vo.PlantSelectVo" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM plant WHERE 1=1
        <if test="legalPersonId!=null and legalPersonId!=0">
           AND legalPersonId=#{legalPersonId}
        </if>
        <if test="plantCode!=null and plantCode!=''">
           AND plantCode=#{plantCode}
        </if>
        <if test="plantDesc!=null and plantDesc!=''">
           AND plantDesc=#{plantDesc}
        </if>
        <if test="plantStatus!=null">
           AND plantStatus=#{plantStatus}
        </if>

    </select>

    <select id="queryPage" parameterType="com.example.demo.plant.model.vo.PlantSelectVo" resultType="com.example.demo.plant.model.Plant">
        SELECT * FROM plant WHERE 1=1
        <if test="legalPersonId!=null and legalPersonId!=0">
           AND legalPersonId=#{legalPersonId}
        </if>
        <if test="plantCode!=null and plantCode!=''">
           AND plantCode=#{plantCode}
        </if>
        <if test="plantDesc!=null and plantDesc!=''">
           AND plantDesc=#{plantDesc}
        </if>
        <if test="plantStatus!=null">
           AND plantStatus=#{plantStatus}
        </if>
          limit #{offset},#{pageSize}
    </select>-->




<!--
    <select id="querySupplierByCodes" resultType ="com.example.dinquiry1uiry.model.InquirySupplier">
        select *
        from supplier WHERE code in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryPartsBySupplierCodes" resultType ="com.example.dinquiry1uiry.model.InquiryParts">
        SELECT * FROM
        parts pa LEFT JOIN p2s p2 ON pa.id = p2.partsId
        LEFT JOIN supplier s ON p2.supplierId = s.id
        WHERE s.`code` in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into inquirytotal (id, inquiryNo,date,legalPersonId,type,moneyType,isTax,startDate,endDate,status,createTime,createId,createName,updateId,updateName,updateTime)
        values (#{id}, #{inquiryNo}, #{date}, #{legalPersonId},
        #{type},#{moneyType},#{isTax},#{startDate},#{endDate},#{status}, #{createTime},#{createId},#{createName},#{updateId},#{updateName},#{updateTime})
    </insert>

    &lt;!&ndash; 批量插入备件信息 &ndash;&gt;
    <insert id="saveInquiryParts">
        INSERT INTO inquiryparts(
        id,
        partsId,
        partsCode,
        partsName,
        inquiryId,
        unit,
        amount,
        moneyType,
        moq,
        deliveryPeriod,
        IntendDeliverDate,
        createName,
        createTime,
        createId,
        updateName,
        updateTime,
        updateId)
        VALUES
        <foreach collection="list" item="item" index="index" open="" close="" separator=",">
            ( #{item.id},
            #{item.partsId},
            #{item.partsCode},
            #{item.partsName},
            #{item.inquiryId},
            #{item.unit},
            #{item.amount},
            #{item.moneyType},
            #{item.moq},
            #{item.deliveryPeriod},
            #{item.IntendDeliverDate},
            #{item.createName},
            #{item.createTime},
            #{item.createId},
            #{item.updateName},
            #{item.updateTime},
            #{item.updateId})
        </foreach>
    </insert>

    &lt;!&ndash; 批量插入供应商信息 &ndash;&gt;
    <insert id="saveSupplier">
        INSERT INTO inquirysupplier(
        id,
        supplierId,
        inquiryId,
        supplierCode,
        supplierName,
        createName,
        createTime,
        createId,
        updateName,
        updateTime,
        updateId)
        VALUES
        <foreach collection="list" item="item" index="index" open="" close="" separator=",">
            ( #{item.id},
            #{item.supplierId},
            #{item.inquiryId},
            #{item.supplierCode},
            #{item.supplierName},
            #{item.createName},
            #{item.createTime},
            #{item.createId},
            #{item.updateName},
            #{item.updateTime},
            #{item.updateId})
        </foreach>
    </insert>

    <update id="updateInquiry">
        UPDATE inquirytotal SET
        inquiryNo = #{inquiryNo}
        ,date = #{date},
        legalPersonId = #{legalPersonId},
        type = #{type},
        moneyType = #{moneyType},
        isTax = #{isTax},
        startDate = #{startDate},
        endDate = #{endDate},
        status = #{status},
        updateName = #{updateName},
        updateTime = #{updateTime},
        updateId = #{updateId},
         version=version+1
        where id = #{id} and version=#{version}
    </update>


    &lt;!&ndash;例子    批量删除批量更新
    <delete id="deleteList" parameterType="java.util.List">
        delete from MT_MaterialCostPrice
        <where>
            id in (
            <foreach item="id" index="index" collection="list"
                     separator=","> #{id} </foreach>
            )
        </where>
    </delete>
    <update id="updateList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update MT_MaterialCostPrice
            <set>
                endTime = #{item.endTime}
            </set>
            where id = #{item.id}
        </foreach>
    </update>
    &ndash;&gt;

    &lt;!&ndash;分页查询数据&ndash;&gt;
    <select id="queryPage" parameterType="com.example.dinquiry1uiry.model.vo.InquiryQueryVo"
            resultType="com.example.dinquiry1uiry.model.InquiryTotal">
        select *
        FROM inquirytotal t left join inquirysupplier inq on t.id = inq.inquiryId
        where 1=1
        <if test="legalPersonId!=null">
            and t.legalPersonId =#{legalPersonId}
        </if>
        <if test="type!=null">
            and t.type =#{type}
        </if>
        <if test="inquiryNo!=null and inquiryNo!=''">
            and t.inquiryNo =#{inquiryNo}
        </if>
        <if test="createStartTime!=null">
            <![CDATA[ and t.createTime >=#{createStartTime} ]]>
        </if>
        <if test="createEndTime!=null">
            <![CDATA[ and t.createTime <=#{createEndTime} ]]>
        </if>
        <if test="supplierId!=null">
            and  inq.id = #{supplierId}
            &lt;!&ndash;<foreach item="item" index="index" collection="legalPersonCodeLoginUser" open="(" separator="," close=")">#{item}</foreach>&ndash;&gt;
        </if>
        order by t.createTime DESC
        limit #{offset} , #{pageSize}
    </select>
    &lt;!&ndash;分页查询总条数&ndash;&gt;
    <select id="queryCount" parameterType="com.example.dinquiry1uiry.model.vo.InquiryQueryVo"
            resultType="java.lang.Integer">
        select count(*)
        FROM inquirytotal t left join inquirysupplier inq on t.id = inq.inquiryId
        where 1=1
        <if test="legalPersonId!=null">
            and t.legalPersonId =#{legalPersonId}
        </if>
        <if test="type!=null">
            and t.type =#{type}
        </if>
        <if test="inquiryNo!=null and inquiryNo!=''">
            and t.inquiryNo =#{inquiryNo}
        </if>
        <if test="createStartTime!=null">
            <![CDATA[ and t.createTime >=#{createStartTime} ]]>
        </if>
        <if test="createEndTime!=null">
            <![CDATA[ and t.createTime <=#{createEndTime} ]]>
        </if>
        <if test="supplierId!=null">
            and  inq.id = #{supplierId}
            &lt;!&ndash;<foreach item="item" index="index" collection="legalPersonCodeLoginUser" open="(" separator="," close=")">#{item}</foreach>&ndash;&gt;
        </if>
    </select>-->

</mapper>